body{
    background-color: aquamarine;
}
#login-window form{
    background-color: bisque;
    width: 370px;
    height: 200px;
    margin: auto auto;
    margin-top: 100px;
    border-width: 5px;
    border-radius: 10px;
    
}
#usernamename{
    float: left;
    padding-left: 20px;
    color: crimson;
    position: fixed;
}
#passwordname{
    float: left;
    color: crimson;
    padding-left: 20px;
    position: fixed;
    margin-top: 65px;
}
#namebox{
    float: right;
    margin-top: 25px;
    padding-right: 20px;
}
#passwordbox{
    float: right;
    margin-top: 30px;
    padding-right: 20px;
}
footer{
    clear: both;
    color: darkcyan;
    position: fixed;
    bottom: 10px;
    left: 5px;
}
#workarea{
    width: 1000px;
    height: 400px;
    margin: auto;
}
header{
    text-align: center;
    font-size: xx-large;
    color: rgb(90, 8, 8);
    font-style: normal;
    font-family: cursive;
    background-color: lime;
    padding-top: 0px;
    margin-top: 0px;
}
header h1{
    margin-top: 0px;
}
#submit{
    margin: 0 auto;
    width: fit-content;
    height: 50;
    clear: both;
}
#checkbox,#submitbutton{
    margin: 0 auto;
    clear: both;
    margin-top: 0px;
}
#checkbox input[type = "checkbox"i]{
    margin: 20px auto; 
    float: right;
    margin-left: 10px;
}
#checkbox p{
    float: left;
    margin-top: 16px;
    margin-bottom: 10px;
    color: darkorchid;
}
#submitbutton{
    margin: 0, auto;
}
#submitbutton input[type="submit"]{
    background: slateblue;
    width: 100px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    clear: both;
    margin: 0 auto;
    border-radius: 5px;
    margin-left: 10px;
}
#namebox input,#passwordbox input{
    width: 200px;
    height: 24px;
}
#login-window form{
    border: springgreen;
    border-right-width: 5px;
    border-left-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-width: thick;
}